<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default="machines"/>
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="pause" default="false"/>
    
	<!-- Start Gazebo with a blank world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find cat_gazebo)/worlds/cat.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg pause)"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="$(arg headless)"/>
		<env name="GAZEBO_MODEL_PATH" value="$(find cat_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
	</include>
	

	<group ns="cat">
		<param name="tf_prefix" value="cat_tf" />

		<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
		<param name="robot_description" command="$(find xacro)/xacro '$(find cat_description)/urdf/cat.xacro'" />

		<!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	    args="-urdf -param robot_description -model cat -x 0 -y 0 -z 0 "/>
	    
		<!-- ros_control cat launch file -->
		<include file="$(find cat_control)/launch/cat_control.launch" />
	</group>

	<group ns="mouse">
		<param name="tf_prefix" value="mouse_tf" />

		<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
		<param name="robot_description" command="$(find xacro)/xacro '$(find mouse_description)/urdf/mouse.xacro'" />

		<!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	    args="-urdf -param robot_description -model mouse -x -2 -y -2 -z 0 "/>
	    
		<!-- ros_control cat launch file -->
		<include file="$(find mouse_control)/launch/mouse_control.launch" />

	</group>

	

</launch>
