<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find mouse_description)/urdf/mouse.xacro'"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mouse_control)/config/mouse_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node
    name="mouse_controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/mouse"
    args="mouse_joint_state_controller
    
        mouse_leftSpinner_effort_controller mouse_rightSpinner_effort_controller
        mouse_leftBWheel_effort_controller mouse_rightBWheel_effort_controller"
  />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node
    name="mouse_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false" output="screen"
  >
    <remap from="/joint_states" to="/mouse/joint_states" />
  </node>
 <!-- Show in Rviz   -->
	 <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mouse_description)/launch/launch.rviz" />  -->

</launch>
